<!-- pre loader -->
<div class="row ">
    <div class="input-field col s12 l12">
        <div class="row margin-bottom-zero">
            <div class="row preloader-row" ng-hide="isLoadedData">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pre loader -->
            <form class="col s12 preference-form" ng-show="isLoadedData" novalidate>
                <div class="col s12 margin-bottom-zero">
                    <div class="card-panel side-bar-card">
                        <div class="row margin-bottom-zero">
                            <div class="col s12 m10">
                                <div>
                                    <i class="material-icons left">search</i> Search</div>

                                <autocomplete id="inputIconSearch" placeholder="" class="margin-bottom-zero" ng-model="searchField" data="names"></autocomplete>
                                <!--<input autocomplete data="movies"  id="inputIconSearch" class="margin-bottom-zero" ng-model="searchField" type="text">-->
                                <label for="inputIconSearch" class="active search-text"> </label>
                            </div>

                            <div class="col s12 m2">
                                <div class="row">
                                    <ul id="sort-by-dropdown" class="dropdown-content blue-text">
                                        <li>
                                            <a ng-click='sortBy==="movie_title"?sortReverse=!sortReverse : sortBy="movie_title"' class="blue-text">
                                                <i ng-show='sortBy==="movie_title"' class="material-icons right">check_circle</i>Name</a>
                                        </li>
                                        <li>
                                            <a ng-click='sortBy==="title_year"?sortReverse=!sortReverse : sortBy="title_year"' class="blue-text">
                                                <i ng-show='sortBy==="title_year"' class="material-icons right">check_circle</i>Year</a>
                                        </li>
                                        <li>
                                            <a ng-click='sortBy==="budget"?sortReverse=!sortReverse : sortBy="budget"' class="blue-text">
                                                <i ng-show='sortBy==="budget"' class="material-icons right">check_circle</i>Budget</a>
                                        </li>
                                    </ul>
                                    <a class="btn blue dropdown-button waves-effect waves-light right margin-top-10 " data-activates="sort-by-dropdown" button-dropdown>
                                        <span class="button-inside-text right">Sort By</span>
                                        <i class="material-icons">sort</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="col s12 m6" ng-repeat="movie in data | orderBy:sortBy:sortReverse | filter: searchField">

            <div class="card horizontal">
                <div class="card-image">
                    <!-- <img ng-src="http://lorempixel.com/100/190/abstract/{{$index % 10}}"> -->
                    <img ng-src="https://loremflickr.com/100/250/abstract/?random={{$index % 10}}" /> 
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="editor-choice badge">{{movie.title_year}}</span>
                        <h5 class="header">{{movie.movie_title}}</h5>
                        <div>Director :
                            <b>{{movie.director_name}}</b>
                        </div>
                        <div>Stars :
                            <b>{{movie.actor_1_name}}, {{movie.actor_2_name}}</b>
                        </div>
                        <div>Genre :
                            <b>{{movie.genres.split("|").join(", ")}}</b>
                        </div>
                        <div>Language :
                            <b>{{movie.language}}</b> &nbsp;Country :
                            <b> {{movie.country}}</b>
                        </div>
                        <div>Budget :
                            <b> {{movie.budget| currency:"USD$":0}}</b>
                        </div>
                        <div>Content rating :
                            <b> {{movie.content_rating}}</b>
                        </div>
                        <div>Keywords :
                            <b> {{movie.plot_keywords.split("|").join(", ")}}</b>
                        </div>
                        <div>
                            <a href="{{movie.movie_imdb_link}}">
                                <img src="images/imdb.png">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 center" ng-show="isLoadedData && (!data || !data.length)">
            Data not found.
        </div>


        <!--<div class="col s12 pagination-container blue-text" ng-show="data && data.length">
            <div class="col s2 left" title="Previous Page" ng-class="page<=1 ? 'disabled grey-text' : 'waves-effect teal-text'" ng-click="page==1 || loadPage(page-1)"><i class="material-icons left">chevron_left</i>Prev | </div>
                  <div class=" col s8 center" >Page {{page}}</div>
                <div class="col s2 right waves-effect" title="Next Page" ng-class="(page>=1000 || (page>=(data.total_count/50))) ? 'disabled grey-text' : 'waves-effect teal-text'" ng-click="page>=1000 || loadPage(page+1)">| Next<i class="material-icons right">chevron_right</i>
                </div>
        </div>-->

        </form>
    </div>
</div>

</div>